:root{
--primaryColor: #9c8eb4;
--secondaryColor: #65469c;
--lightColor: #fff;
--bgColor-1: #171a1c;
--bgColor-2: #22282a;
--padding: 8%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--secondaryColor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor:pointer;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: nones;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
 
nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--secondaryColor);
}

.btn{
    background-color: var(--secondaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--secondaryColor);
}

.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts{
    position: relative;
    bottom: 70px;
    top: 50px;
}

h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--primaryColor);
}

.social{
    margin-top: 3.5rem;
}

.social a{
    text-decoration: none;
}

 .social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
 }

 .social img:hover{
    transform: scale(1.2);
 }

.home .container-images{
    width: 35%;
    height: 90%;
    position: relative;
}
 
.home .container-images img{
    align-items: right;
    width: 115%;
    position: absolute;
    bottom: 0;
    transition: 0.4s;
} 

.home .container-images img:hover{
    width: 117%;
}

.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-images{
    width: 35%;
}

.about .container-images img{
    width: 90%;
    transition: 0.4s;
}

.about .container-images img:hover{
    width: 91%;
}

.about .container-texts{
    width: 35%;
    justify-content: center;
}

.about .container-texts h1{
    margin-bottom: 10px;
}

p{
    color: var(--primaryColor);
    margin-bottom: 100px;
    letter-spacing: 1px;    
    line-height: 1.8rem;
    font-size: 1rem;
}

.about .container-texts h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.services{
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 250px;
    height: 400px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.card i{
    font-size: 3.12rem;
    text-align: center;
    color: var(--secondaryColor);
    margin:  2rem;
}

.skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-images{
    width: 35%;
}

.skills .container-images img{
    width: 100%;
}

.skills .container-skills{
    width: 60%;
}

.content-skills{
    display: flex;
   flex-wrap: wrap;
   margin-top: 4rem;
}

.skill{
    width: 100%;
}

.skill img{
    width: 90px;
    height: 90px;
    background-color: var(--lightColor);
    border-radius: 8%;
    margin: 0 2rem 2rem 0;
    transition: 0.6s;
}

.skill img:hover{
    background-color: var(--bgColor-1);
    border: 2px solid var(--secondaryColor);
}

footer{
    padding: 2rem var(--padding) ;
    background-color: var(--bgColor-1);
}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

footer .content-footer .para{
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
    margin-bottom: 10px;
}

footer .content-footer .end{
    color: var(--primaryColor);
    margin-top: 1rem;
    margin-bottom: 10px;
}

.hamburger{
    display: none;
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}

#menus{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menus span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}

#menus.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

#menus.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

#menus.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menus.is-active span{
    background-color: var(--secondaryColor);
}



@media screen and (max-width: 575px) {
    :root {
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a{
        display: none;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vh;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: left;
        margin: 30px;
    }
    .home .container-texts{
        bottom: 0;
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menus{
        display: block;
    }

    .about .container-images{
        display: none;
    }

    .about .container-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-images{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    footer .content-footer .para{
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    :root {
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    .content{
        padding-top: 20px;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a{
        display: none;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: left;
        margin: 30px;
    }
    .home .container-texts{
        bottom: 0;
    }

    .social{
        margin-top: 30px;
    }

    h3{
        margin-bottom: 30px;
    }

    #menus{
        display: block;
    }

    .about .container-images{
        display: none;
    }

    .about .container-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-images{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    footer .content-footer .para{
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    :root {
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a{
        display: none;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vh;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: left;
        margin: 30px;
    }
    .home .container-texts{
        bottom: 0;
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menus{
        display: block;
    }

    .about .container-images{
        display: none;
    }

    .about .container-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-images{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    footer .content-footer .para{
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    :root {
        --padding: 1.5rem;
    }

    html{
        font-size: 13px;
    }

    .home .container-images{
        right: 100px;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav > a{
        display: none;
    }

    nav ul{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vh;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li{
        display: block;
        text-align: left;
        margin: 30px;
    }
    .home .container-texts{
        bottom: 0;
    }

    .social{
        margin-top: 70px;
    }

    h3{
        margin-bottom: 70px;
    }

    #menus{
        display: block;
    }

    .about .container-images{
        left: 100px;
    }

    .about .container-texts{
        width: 100%;
    }

    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills .container-images{
        right: 100px;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    footer .content-footer .para{
        width: 100%;
    }
}



































































































































































